r* {
  margin:0 30px;
  padding: 0 10px;
  text-align: center;

}
.header--button span{
display: inline-block;
width: 13px;
height: 8px;
margin-left: 10px;
background-image: url('https://github.com/mpho-mafata/mpho-mafata.github.io/blob/main/assets/profile_logo.ico');

html, body { height: 100%; }

body {
  margin:0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
  background-color: #fdfdfd;
}

.site-header {
  border-top: 5px solid #333;
  border-bottom: 1px solid #e8e8e8;
  min-height: 56px;
  background-color: grey;
}
